.doing-section {
    padding-bottom: 94px;
}

.doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
}

.doing-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.doing-list-item {
    flex-basis: calc((100% - 60px) / 3);
}

.doing-card {
    position: relative;
}

.doing-list-block {
    position: absolute;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
}

.doing-list-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    padding-top: 27px;
}

@media screen and (max-width: 1199px) {
    .doing-section {
        display: none;
    }
}