.filters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;

    & .button {
        background-color: #F5F4FA;
        border-radius: 4px;
        min-width: 73px;
        padding: 6px 22px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        letter-spacing: 0.03em;
        color:  var(--black-color);
        border: none;
        transition: background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func), color var(--transition-dur-and-func);
    }

    & .button:focus,
    & .button:hover {
        background-color: var(--brand-color);
        color: var(--white-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 50px;
    background: var(--white-color);
    justify-content: center;
}

.project-descr {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.project-list-item {
    flex-basis: calc((100% - 60px) / 3);
    transition: box-shadow var(--transition-dur-and-func);
    width: 100%;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.project-thumb {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    display: inline-block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--transition-dur-and-func);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);
    padding: 63px 24px;
}

.project-link:hover .project-overlay, 
.project-link:focus .project-overlay {
    transform: translateY(0%);
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

@media screen and (min-width: 768px) {
    .filters-list {
        justify-content: center;
    }

    .projects-list {
        justify-content: flex-start;
    }

    .project-list-item {
        width: 354px;
    }
}

@media screen and (min-width: 1200px) {


    .project-list-item {
        width: 370px;
    }
}